@model CQRS_DemoProject.MediatorDesignPattern.Commands.CreateCustomerCommand
@{
    Layout = null;
}
<link href="\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Müşteri Adı</label>
        <input type="type" asp-for="CustomerName" />
        <br />
        <label>Müşteri Soyadı</label>
        <input type="type" asp-for="CustomerName" />
        <br />
        <button type="submit">Kaydet</button>
    </form>
</div>
