@model CQRS_DemoProject.CQRSDesignPattern.Commands.CategoryCommands.CreateCategoryCommand
@{
    Layout = null;
}
<link href="\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <form method="post">
    <label>Kaegori Adı</label> 
    <input type="type" asp-for="CategoryName" />
    <br />
        <button type="submit">Kaydet</button>
    </form>
</div>
